.IntroductionComponent{
    grid-area: introduction;
    .candidate-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .candidate-name {
        display: block;
        font-weight: bolder;
        font-size: 44px;
        width: 90%;
    }

    .candidate-title {
        display: block;
        font-size: 22px;
        font-weight: 600;
        width: 90%;
    }

    .candidate-summary {
        display: block;
        font-size: 18px;
        width: 100%;
        height: fit-content;
    }
    
    img{
        height: 25px;
        width: 25px;
    }
}