.SkillsComponent {
    .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;
        padding: 1px;

        .rating {
            display: flex;
            align-items: center;
        }

        .circle,
        .edit-circle {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            display: inline-block;
            border: 1px solid black;
            margin: 1px;
        }

        .edit-circle::after {
            content: ' \0020';
            display: inline-block;
            width: 22px;
            height: 20px;
        }
        .filled-circle {
            background-color: black;
        }

        .edit-rating {
            display: flex;
            flex-direction: row-reverse;
        }
        
        .edit-circle:hover,
        .edit-circle:hover ~ .edit-circle {
            background-color: black;
        }
    }
}

@media print {
    .filled-circle {
        background-color: black;
        -webkit-print-color-adjust: exact;
    }
}
