.EducationListComponent {
    .work-history {
        display: flex;
        margin-bottom: 1rem;
        img {
            height: 25px;
            width: 25px;
        }

        .left-column {
            width: 20%;
            font-weight: 700;
        }

        .right-column {
            margin-left: 1rem;
            width: 80%;

            .title {
                font-size: 20px;
                font-weight: 700;
            }
            ul {
                margin-left: 1rem;
                padding-left: 0;
            }
        }
    }
}

@media print {
    .edit-icon {
        display: none;
    }
}