@import '../styling/media-queries';

.container {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include from-small() {
        justify-content: space-between;
        position: relative;
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media print {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
