@import '../styling/media-queries';

main {
    z-index: -1;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @include from-small() {
        justify-content: space-between;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
