.ExperienceComponent {
    display: flex;
    img {
        height: 25px;
        width: 25px;
    }

    .title,
    .edit-experience-item {
        display: flex;
        justify-content: space-between;
    }

    .left-column {
        width: 22%;
        font-weight: 700;
    }

    .right-column {
        margin-left: 1rem;
        width: 78%;

        .title {
            font-size: 20px;
            font-weight: 700;
        }
        ul {
            margin-top: 0.5rem;
            margin-left: 1rem;
            padding-left: 0;
        }
    }

    .add-linebreak {
        font-size: 16px;
        font-weight: 400;
        color: grey;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .edit-experience-list {
        display: flex;
        margin-top: 1rem;
        ul {
            display: flex;
            width: 50%;
            margin: 0;
            flex-direction: column;

            textarea {
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media print {
    .edit-icon,
    .add-linebreak {
        display: none;
    }
}
